.orders-chart {
  --chart-line-color: var(--bs-primary);
  &__chart-parent {
    position: relative;
    min-height: 300px;
  }
  svg {
    cursor: crosshair;
    * {
      pointer-events: none;
    }
    circle {
      pointer-events: auto;
      --fill-color: transparent;
      --fill-opacity: 1;
      &:hover {
        --fill-color: var(--chart-line-color);
        --fill-opacity: 0.5;
      }
    }
  }
}
