.orders-chart {
  --chart-text-color: #888;
  --chart-line-color: var(--bs-primary);
  &__chart-parent {
    position: relative;
    min-height: 300px;
  }
  &__tooltip {
    position: absolute;
    pointer-events: none;
    padding: 0.25rem 0.5rem;
    border: 1px solid var(--chart-line-color);
    background-color: rgba(255, 255, 255, 0.9);
    font-size: 8pt;
    text-align: center;
  }
  svg {
    cursor: crosshair;
  }
  svg * {
    pointer-events: none;
  }
}
