.u-wait,
.u-wait * {
  cursor: wait;
}

@font-face {
  font-family: NotoColorEmojiLimited;
  unicode-range: U+1F1E6-1F1FF;
  src: url(https://raw.githack.com/googlefonts/noto-emoji/main/fonts/NotoColorEmoji.ttf);
}

.u-flag {
  font-family:
    'NotoColorEmojiLimited',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';
}

.u-prop-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 1rem;
  @media (max-width: 400px) {
    & {
      grid-template-columns: 1fr;
      grid-auto-rows: auto;
    }
  }
  &__wide-row {
    grid-column: span 2;
  }
}

.customer,
.employee {
  @media (min-width: 992px) {
    width: 75%;
  }
}

@mixin grid($width) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($width, 1fr));
  grid-auto-rows: 1fr;
  @media (max-width: 400px) {
    & {
      grid-template-columns: 1fr;
      grid-auto-rows: auto;
    }
  }
}
.employees__list {
  @include grid(17rem);
}
.suppliers__list {
  @include grid(20rem);
}
.customers__list {
  @include grid(17rem);
}

.app-sidebar {
  overflow-x: hidden !important;
  a {
    --bs-link-color-rgb: 255, 255, 255;
    --bs-link-hover-color-rgb: 255, 255, 255;
    text-decoration: none;
  }
  a:hover,
  a.active {
    background-color: var(--bs-primary);
  }
}
.app-mainbar {
  overflow: auto;
  scrollbar-gutter: stable;
}
.pagination {
  row-gap: 0.5rem;
}
